# Environment
NODE_ENV="production"

# Database - SQLite
DATABASE_URL="file:./dev.db"

# NextAuth Configuration
# Ganti dengan URL domain Anda, misal: https://pbb-desa.com
NEXTAUTH_URL="http://localhost:3000"
# Generate secret baru dengan: openssl rand -base64 32
NEXTAUTH_SECRET="pbb-desa-rahasia-sekali-123"

# App Settings
# Password default untuk admin saat pertama kali install / seed
ADMIN_PASSWORD="admin123"
# Password default untuk user baru (PENARIK) atau reset password
DEFAULT_USER_PASSWORD="pbb12345"

# Storage Configuration
# Ganti dengan path absolut ke folder storage di PC Anda
# PENTING: Gunakan folder DI LUAR root project agar build time Next.js cepat.
STORAGE_ROOT="C:/pbb-app-storage"
