# Environment
NODE_ENV="production"

# Database - SQLite
DATABASE_URL="file:./dev.db"

# NextAuth Configuration
# Ganti dengan URL domain Anda, misal: https://pbb-desa.com
NEXTAUTH_URL="http://localhost:3000"
# Generate secret baru dengan: openssl rand -base64 32
NEXTAUTH_SECRET="pbb-desa-rahasia-sekali-123"

# App Settings
# Password default untuk user baru atau reset password
DEFAULT_USER_PASSWORD="pbb12345"
